In [42]:
import pandas as pd
import numpy as np

In [22]:
history = pd.read_csv("tarikhche kharid.csv" , parse_dates = ['created_at'])
history.head()

,id,product_variant_id,selling_price,rrp_price,base_price,buy_price,order_limit,start_at,end_at,tags,show_in_price_history,active,created_at,product_id,marketplace_seller_id
0,18752043,1977385,850000,850000,\N,\N,1,\N,\N,\N,1,1,2018-11-26 18:59:52,667969,2962
1,18752022,1977380,12550000,12550000,\N,\N,2,\N,\N,\N,1,0,2018-11-26 18:59:31,150144,78525
2,18752046,1977380,12500000,12500000,\N,\N,2,\N,\N,\N,1,1,2018-11-26 18:59:55,150144,78525
3,18751982,1977374,310000,310000,\N,\N,2,\N,\N,\N,1,0,2018-11-26 18:58:48,908541,4199
4,18752018,1977374,300000,300000,\N,\N,2,\N,\N,\N,1,1,2018-11-26 18:59:28,908541,4199

In [23]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2184358 entries, 0 to 2184357
Data columns (total 15 columns):
id                       int64
product_variant_id       int64
selling_price            int64
rrp_price                int64
base_price               object
buy_price                object
order_limit              int64
start_at                 object
end_at                   object
tags                     object
show_in_price_history    int64
active                   int64
created_at               datetime64[ns]
product_id               int64
marketplace_seller_id    int64
dtypes: datetime64[ns](1), int64(9), object(5)
memory usage: 250.0+ MB

##### As we can see, many cells of this dataset filled with '\N'. For including them as null cells we replace them with null. Then we calculate the percentage of the null cell for each column. We see more than 95% of some rows are null. As for the huge amount of data, we can delete these columns. On the other hand, it seems that the 'tag' column can be useful for analysis. So we decide to save rows with not null tags in a separate dataset for more analysis.

In [56]:
history.replace({'\\N' : np.NaN} , inplace=True)

In [60]:
history['buy_price'].isnull().sum()

2177495

In [74]:
(history['buy_price'].isnull().sum()/history.shape[0])*100

99.68581157484259

In [78]:
history.drop(columns=['buy_price'] , inplace=True)

In [79]:
history['base_price'].isnull().sum()

2090066

In [80]:
(history['base_price'].isnull().sum()/history.shape[0])*100

95.68330832217063

In [62]:
history['start_at'].isnull().sum()

2127157

In [75]:
(history['start_at'].isnull().sum()/history.shape[0])*100

97.3813358433004

In [63]:
history['end_at'].isnull().sum()

2127157

In [76]:
(history['end_at'].isnull().sum()/history.shape[0])*100

97.3813358433004

In [64]:
history['tags'].isnull().sum()

2126456

In [77]:
(history['tags'].isnull().sum()/history.shape[0])*100

97.34924403417389

In [81]:
history['tags'].value_counts()

selling_and_sales    43846
incredible_offer     11089
sponsored_offer       2967
Name: tags, dtype: int64

In [82]:
history.drop(columns=['base_price' , 'start_at' , 'end_at'] , inplace=True)

In [86]:
history_with_tags = history.dropna(subset=['tags'])
history_with_tags.head()
history_with_tags.shape

(57902, 11)

In [88]:
history.drop(columns=['tags'] , inplace=True)

In [98]:
history.isnull().sum()

id                       0
product_variant_id       0
selling_price            0
rrp_price                0
order_limit              0
show_in_price_history    0
active                   0
created_at               0
product_id               0
marketplace_seller_id    0
dtype: int64

In [99]:
history.to_csv('Cleand History.csv')

In [100]:
history_with_tags.to_csv('Cleaned History with Tags.csv')